<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:35:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeClass()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@3c09711b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1364614850</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:35:10</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeMethod()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@3c09711b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1364614850</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:35:10</td>   <td>-15</td> <td title="&gt;&gt;NewTest1.beforeSuite()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@3c09711b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1364614850</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:35:10</td>   <td>-6</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeTest()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@3c09711b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1364614850</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:35:10</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.test13()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@3c09711b]">test13</td> 
  <td>main@1364614850</td>   <td></td> </tr>
</table>
