<h2>Reporter output</h2><table><tr><td>[{1364614850}]	test1 beforeSuite</td></tr>
<tr><td>[{1364614850}]	test1 beforeTest</td></tr>
<tr><td>[{1364614850}]	test1 beforeClass</td></tr>
<tr><td>[{1364614850}]	test1 beforeMethod</td></tr>
<tr><td>[{1364614850}]	test13</td></tr>
</table>