<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fb494">  <td>18/01/03 16:41:19</td>   <td>0</td> <td title="&gt;&gt;NewTest1.beforeSuite()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@5056dfcb]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>8</td> <td title="&gt;&gt;NewTest2.beforeSuite()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="6fb494">  <td>18/01/03 16:41:19</td>   <td>11</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeTest()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@5056dfcb]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>11</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest2.beforeTest()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="6fb494">  <td>18/01/03 16:41:19</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeClass()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@5056dfcb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="6fb494">  <td>18/01/03 16:41:19</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeMethod()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@5056dfcb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="6fb494">  <td>18/01/03 16:41:19</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.test12(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@5056dfcb]">test12</td> 
  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="6fb494">  <td>18/01/03 16:41:19</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeMethod()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@5056dfcb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="6fb494">  <td>18/01/03 16:41:19</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.test13()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest1@5056dfcb]">test13</td> 
  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest2.beforeClass()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest2.beforeMethod1()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&gt;&gt;beforeMethod1</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest2.beforeMethod2()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&gt;&gt;beforeMethod2</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest2.test21()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">test21</td> 
  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest2.afterMethod()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest2.beforeMethod1()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&gt;&gt;beforeMethod1</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest2.beforeMethod2()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&gt;&gt;beforeMethod2</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest2.test23()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">test23</td> 
  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest2.afterMethod()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest2.beforeMethod1()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&gt;&gt;beforeMethod1</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest2.beforeMethod2()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&gt;&gt;beforeMethod2</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest2.test22()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">test22</td> 
  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest2.afterMethod()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest2.afterClass()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>48</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest2.afterTest()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>18/01/03 16:41:19</td>   <td>92</td> <td title="&lt;&lt;NewTest2.afterSuite()[pri:0, instance:com.nmgslx.examples.example_testng.NewTest2@4de8b406]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287712235</td>   <td></td> </tr>
</table>
