<h2>Reporter output</h2><table><tr><td>[{1287712235}]	test1 beforeSuite</td></tr>
<tr><td>[{1287712235}]	test2-beforeSuite</td></tr>
<tr><td>[{1287712235}]	test1 beforeTest</td></tr>
<tr><td>[{1287712235}]	test2-beforeTest</td></tr>
<tr><td>[{1287712235}]	test1 beforeClass</td></tr>
<tr><td>[{1287712235}]	test1 beforeMethod</td></tr>
<tr><td>[{1287712235}]	[test12]</td></tr>
<tr><td>[{1287712235}]	p1=parma1-value>,p2=parma2-value>,p3=param3-default</td></tr>
<tr><td>[{1287712235}]	test1 beforeMethod</td></tr>
<tr><td>[{1287712235}]	[test13]</td></tr>
<tr><td>[{1287712235}]	x=0.11182665446586515</td></tr>
<tr><td>[{1287712235}]	test2-beforeClass</td></tr>
<tr><td>[{1287712235}]	test2-beforeMethod1</td></tr>
<tr><td>[{1287712235}]	test2-beforeMethod2</td></tr>
<tr><td>[{1287712235}]	test21</td></tr>
<tr><td>[{1287712235}]	test2-afterMethod</td></tr>
<tr><td>[{1287712235}]	test2-beforeMethod1</td></tr>
<tr><td>[{1287712235}]	test2-beforeMethod2</td></tr>
<tr><td>[{1287712235}]	test23</td></tr>
<tr><td>[{1287712235}]	test2-afterMethod</td></tr>
<tr><td>[{1287712235}]	test2-beforeMethod1</td></tr>
<tr><td>[{1287712235}]	test2-beforeMethod2</td></tr>
<tr><td>[{1287712235}]	test22</td></tr>
<tr><td>[{1287712235}]	test2-afterMethod</td></tr>
<tr><td>[{1287712235}]	test2-afterClass</td></tr>
<tr><td>[{1287712235}]	test2-afterTest</td></tr>
<tr><td>[{1287712235}]	test2-afterSuite</td></tr>
</table>